$Hero-gray: hsl(90, 13%, 94%);
$Off-white: hsl(90, 40%, 98%);
$white: hsl(0, 0%, 100%);
$Arrow-gray: hsl(0, 0%, 96%);
$Bright-Red: hsl(8, 100%, 66%);
$text-gray: rgb(136, 136, 136);
$Blue: hsl(219, 70%, 37%);
$Border-gray: hsl(0, 0%, 91%);
$text-black: hsl(0, 0%, 13%)