$font-family: 'Lora', serif;
$font-family2: 'Raleway', sans-serif;
$font-family3: 'Lato', sans-serif;
$font-family4: 'Great Vibes', cursive;
$font-weights: (
    "light": 400,
    "medium":500,
    "semibold":600,
    "bold":700,
);